<launch>
    <arg name="task_start_delay" default="5.0" />
    <arg name="task_start_delay_log" default="7.0" />
    <arg name="converted" default="converted_pc" />


    <!-- Record node -->
    <include file="$(find object_detection_cs169)/launch/logging.launch"/>

    <!-- Lidar launch file -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
    <node pkg="tf" type="static_transform_publisher" name="rgbd_tf_broadcaster" args="0 0 0 0 0 0 map velodyne 100" />

    <!-- velodyne height node -->
    <!-- node pkg="velodyne_height_map" type="heightmap_node" name="heightmap" output="screen" /-->

    <!-- multitracking node -->
    <!-- node pkg="multi_object_tracking_lidar" type="kf_tracker" name="kf_tracker" output="screen" launch-prefix="bash -c 'sleep $(arg task_start_delay); $0 $@' "/-->


</launch>
