<launch>
    <!-- argument initializer -->
    <arg name="task_start_delay" default="5.0" />
    <arg name="record_bag1" default="_2020-03-04-23-15-34.bag" /> <!-- because of poor performance, not use -->
    <arg name="record_bag2" default="_2020-03-04-23-16-42.bag" />
    <arg name="record_bag3" default="_2020-03-04-23-17-19.bag" />
    <arg name="record_bag4" default="_2020-03-04-23-17-51.bag" />
    <arg name="height" default="0.2" /> <!-- unit: meter -->
    <arg name="full" default="false" />
    <arg name="CPA_threshold" default="0.4"/>

    <!-- method which you want as per each case -->
    <arg name="use_datmo" default="false"/>
    <arg name="use_velodyne_height" default="false"/>
    <arg name="use_multi" default="true"/>
    <!-- when use multi -->
    <arg name="use_3d_direct" default="false"/>
    <arg name="use_2d_convert" default="true"/>

    <!-- datmo node -->
    <group if="$(arg use_datmo)">
        <include file="$(find datmo)/launch/datmo.launch"/>
        <!-- directly pops up the rviz -->
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find datmo)/config/default.rviz" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="link_laser" args="-0.12 0 0 0 0 0 ego_pose laser" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="link_velodyne" args="0 0 0 0 0 0 velodyne laser" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="link_map" args="0 0 0 0 0 0 map laser" />
        <!-- include file="$(find datmo)/launch/example.launch"/ -->
    </group>

    <!-- velodyne height node -->
    <group if="$(arg use_velodyne_height)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find object_detection_cs169)/config/default.rviz" />
        <node pkg="velodyne_height_map" type="heightmap_node" name="heightmap" output="screen">
            <param name="height_threshold" value="$(arg height)" /> <!-- threshold of height for the obstacle detection -->
            <param name="full_clouds" value="$(arg full)" /> <!-- when using full point cloudes -->
        </node>
    </group>

    <!-- multitracking node -->
    <group if="$(arg use_multi)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find object_detection_cs169)/config/default.rviz" />
        <node pkg="multi_object_tracking_lidar" type="kf_tracker" name="kf_tracker">
            <param name="threshold" value="$(arg CPA_threshold)" />
        </node>
        <node if="$(arg use_2d_convert)" pkg="object_detection_cs169" type="scan_to_point_cloud.py" name="scan_to_point_cloud"/> <!-- node for changing 2D to 3D point clouds -->
        <node if="$(arg use_3d_direct)" pkg="object_detection_cs169" type="obstacle_detection_directuse_3D.py" name="direct_3d_point_cloud"/> <!-- node for directly using 3D point clouds -->
    </group>

    <!-- rosbag play node -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/mingi/Desktop/$(arg record_bag2)"/>

    <!-- analyzer node -->
    <node if="$(arg use_multi)" pkg="object_detection_cs169" type="obstacle_detection_multi.py" name="data_analyzer" output="screen"/>

</launch>
